extends app

block card
    section(class=`flashcards`)
        .card(class=`card-${side}`)
            .card-header
            h1.card-title= side
            #content
                h2= templateData.text
                if templateData.hint 
                    button.button(id='showHint') Show Hint
                    p.hint(id="hint")
                        i= templateData.hint
            .card-flip-wrap
                a(href=`${id}?side=${link}`)
                    img.card-flip(src='/static/img/flip.svg')
            .card-next
                a(href='/cards')
                    img(src='/static/img/next.svg')
    script(src='/static/js/app.js')